{%extends "base.html"%}

{%block content%}

<div id="vm" class="d-flex justify-content-center align-items-center vh-100">
    <div class="p-4 border rounded bg-light" style="min-width: 300px;">
        <h1 class="text-center mb-4">Battleship</h1>
        <form method="post">
            <div class="row g-2 mb-3">
                <div class="col">
                    <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="col-auto">
                    <button type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseSettings"
                            aria-expanded="true"
                            aria-controls="collapseSettings"
                            class="btn btn-light p-1 border"
                            style="width: 40px; height: 40px;">
                            <img src="{{ url_for('static', filename='settings_icon.png') }}"
                             style="width: 100%; height: 100%; object-fit: contain;">
                    </button>
                </div>
            </div>

            <div class="collapse" id="collapseSettings">
                <div class="card card-body">
                    <div class="dropdown">
                        <p class="text-center p-0 m-0">Time per turn</p>
                        <button class="btn btn-secondary dropdown-toggle mb-3" style="width: 75%; display: block; margin-left: auto; margin-right: auto;" 
                        type="button" 
                        id="turnTimeButton" 
                        name="turnTimeButton" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                            40 seconds
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="turnTimeButton">
                            <li><a class="dropdown-item" id="turnTimeButtonChoice1" href="#">10 seconds</a></li>
                            <li><a class="dropdown-item" id="turnTimeButtonChoice2" href="#">20 seconds</a></li>
                            <li><a class="dropdown-item" id="turnTimeButtonChoice3" href="#">40 seconds</a></li>
                            <li><a class="dropdown-item" id="turnTimeButtonChoice4" href="#">Unlimited</a></li>
                        </ul>
                        <input type="hidden" id="turnTimeValue" name="turnTimeValue">
                    </div>

                    <div class="dropdown">
                        <p class="text-center p-0 m-0">Minutes per player</p>
                        <button class="btn btn-secondary dropdown-toggle mb-3"
                                style="width: 75%; display: block; margin-left: auto; margin-right: auto;"
                                type="button"
                                id="gameTimeButton"
                                name="gameTimeButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            3 minutes
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="gameTimeButton">
                            <li><a class="dropdown-item" id="gameTimeButtonChoice1" href="#">1 minute</a></li>
                            <li><a class="dropdown-item" id="gameTimeButtonChoice2" href="#">2 minutes</a></li>
                            <li><a class="dropdown-item" id="gameTimeButtonChoice3" href="#">3 minutes</a></li>
                            <li><a class="dropdown-item" id="gameTimeButtonChoice4" href="#">Unlimited</a></li>
                        </ul>
                        <input type="hidden" id="gameTimeValue" name="gameTimeValue">
                    </div>

                    <div class="dropdown">
                        <p class="text-center p-0 m-0">Starting player</p>
                        <button class="btn btn-secondary dropdown-toggle"
                                style="width: 75%; display: block; margin-left: auto; margin-right: auto;"
                                type="button"
                                id="startingPlayerButton"
                                name="startingPlayerButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Random
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="startingPlayerButton">
                            <li><a class="dropdown-item" id="startingPlayerButtonChoice1" href="#">Random</a></li>
                            <li><a class="dropdown-item" id="startingPlayerButtonChoice2" href="#">I start</a></li>
                            <li><a class="dropdown-item" id="startingPlayerButtonChoice3" href="#">Opponent starts</a></li>
                        </ul>
                        <input type="hidden" id="startingPlayerValue" name="startingPlayerValue">
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary w-100" id="createButton" name="createButton" value="true">Create</button>
        </form>
    </div>
    <script src="../static/home.js"></script>

{%endblock%}
